@use "vars" as v;

._aluminumSlider {
  height: v.$fw;
  width: v.$fw;
  color: v.$dark;
  @include v.flexCenter();
  margin-top: 1em;
  overflow: v.$h;
  &_header {
    width: 80%;
    @include v.flexCenter();
    position: v.$re;
    &_title {
      font-size: 3rem;
      h2 {
        font-size: 1em;
        margin: 0;
        text-align: v.$c;
      }
    }
    &_subtitle {
      width: 60%;
      p {
        text-align: v.$c;
        font-weight: 600;
        color: #333;
        line-height: 1.5;
        strong {
          color: v.$red;
          text-transform: v.$upper;
          font-family: v.$halv;
        }
      }
    }
    &_nextBtn,
    &_leftBtn {
      position: v.$ab;
      right: 0;
      svg {
        cursor: v.$p;
        position: v.$ab;
        width: 100px;
      }
    }
    &_leftBtn {
      left: 0;
    }
  }
  &_child {
    min-height: 500px;
    width: 90%;
    &_aluminum {
      width: v.$fw;
      &_title {
        font-size: 3rem;
        h2,
        p {
          text-transform: v.$upper;
        }
        h2 {
          font-size: 1em;
          margin-bottom: 0;
        }
        p {
          margin-top: 0;
          font-size: 0.5em;
          color: v.$grey;
        }
      }
      &_list {
        grid-column: span 9;
        ul {
          li {
            font-size: 1em;
            svg {
              position: v.$re;
              top: 4px;
              margin: 0 0.5em;
            }
          }
        }
      }
      &_child {
        display: v.$g;
        grid-template-columns: repeat(9, 1fr);
        gap: 1em;
        &_each {
          grid-column: span 3;
          min-height: 350px;
          background-size: v.$cv;
          background-position: v.$c;
          border-radius: 20px;
          position: v.$re;
          &_title {
            position: v.$ab;
            left: 0;
            top: 0;
            background-color: v.$bg-light;
            width: 70%;
            height: 50px;
            border-radius: 20px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 10px;
            @include v.flexCenter();
            h3 {
              font-weight: 600;
            }
            &::after,
            &::before {
              content: "";
              position: v.$ab;
              width: 30px;
              height: 30px;
              box-shadow: 6px 6px 0 v.$bg-light;
              border-bottom-right-radius: 20px;
            }
            &::before {
              rotate: 180deg;
              right: -30px;
              top: 0px;
            }
            &::after {
              left: 0px;
              rotate: -180deg;
              bottom: -30px;
            }
          }
          &:first-child {
            background-image: url("/assets/aluminum/mur-rideau-vec.webp");
          }
          &:nth-child(2) {
            background-image: url("/assets/aluminum/mur-rideau-serreur.webp");
          }
          &:last-child {
            background-image: url("/assets/aluminum/mur-rideau-trame-horizontal.jpg");
          }
        }
      }
      &:nth-child(2) &_child {
        &_each {
          &_title {
            display: v.$n;
          }
          &:first-child {
            background-image: url("/assets/aluminum/chassis-coulissant-1.webp");
          }
          &:nth-child(2) {
            background-image: url("/assets/aluminum/chassis-coulissant-2.webp");
          }
          &:last-child {
            background-image: url("/assets/aluminum/chassis-coulissantt.webp");
          }
        }
      }
      &:nth-child(3) &_child {
        grid-template-columns: repeat(10, 1fr);
        &_each {
          grid-column: span 5;
          min-height: 400px;
          &_title {
            align-items: flex-start;
            width: 70%;
            padding-bottom: 0.3em;
            h3 {
              z-index: 1;
              margin: 0;
              svg {
                position: v.$re;
                top: 3px;
              }
            }
          }
          &:first-child {
            background-image: url("/assets/aluminum/cloison-1.avif");
          }
          &:last-child {
            background-image: url("/assets/aluminum/cloison-2.avif");
          }
        }
      }
      &:nth-child(4) &_child {
        &_each {
          &_title {
            display: v.$n;
          }
          &:first-child {
            background-image: url("/assets/aluminum/portail-et-portillon-1.jpg");
          }
          &:nth-child(2) {
            background-image: url("/assets/aluminum/portail-et-portillon-2.jpg");
          }
          &:last-child {
            background-image: url("/assets/aluminum/portail-et-portillon-3.jpg");
          }
        }
      }
      &:nth-child(5) &_child {
        &_each {
          &_title {
            display: v.$n;
          }
          &:first-child {
            background-image: url("/assets/aluminum/modéle-lame-galvanisé-1.avif");
          }
          &:nth-child(2) {
            background-image: url("/assets/aluminum/modéle-lame-galvanisé-2.avif");
          }
          &:last-child {
            background-image: url("/assets/aluminum/modéle-lame-galvanisé.avif");
          }
        }
      }
      &:last-child &_child {
        &_each {
          &_title {
            display: v.$n;
          }
          &:first-child {
            background-image: url("/assets/aluminum/modéle-compacto.jpg");
          }
          &:nth-child(2) {
            background-image: url("/assets/aluminum/modéle-compacto-2.jpg");
          }
          &:last-child {
            background-image: url("/assets/aluminum/modéle-compacto-1.webp");
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  ._aluminumSlider {
    &_header {
      width: 95%;
      text-align: v.$c;
      &_title {
        font-size: 2rem;
      }
      &_subtitle {
        width: v.$fw;
      }
    }
    &_child {
      width: 95%;
      &_aluminum {
        width: v.$fw;
        &_title {
          font-size: 2rem;
        }
        &_list {
          ul {
            padding: 0;
          }
        }
        &_child {
          &_each {
            grid-column: span 9 !important;
            &:first-child &_title {
              width: 80%;
            }
          }
        }
        &:nth-child(3) &_child,
        &:nth-child(2) &_child {
          grid-template-columns: repeat(10, 1fr);
          &_each {
            grid-column: span 10 !important;
            min-height: 420px;
          }
        }
      }
    }
  }
}
