@use "vars" as v;
._heroAbout {
  width: v.$fw;
  min-height: v.$vh;
  @include v.flexCenter();
  justify-content: flex-start;
  overflow: v.$h;
  &_title {
    h1 {
      font-size: 8rem;
      font-weight: v.$b;
      margin: 0;
      color: v.$dark;
      text-align: v.$c;
    }
  }
  &_bg {
    background-image: url("/assets/about/bg.webp");
    background-size: v.$cv;
    background-attachment: fixed;
    background-position: v.$c;
    min-height: 400px;
    width: v.$fw;
    position: v.$re;
    &_miniPara {
      background-color: v.$bg-light;
      position: v.$ab;
      top: 0;
      left: 25%;
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 50%;
      p {
        font-weight: 600;
        text-transform: v.$upper;
        text-align: v.$c;
      }
      &::after,
      &::before {
        content: "";
        position: v.$ab;
        width: 40px;
        height: 40px;
        box-shadow: 6px 6px 0 v.$bg-light;
        border-bottom-right-radius: 20px;
      }
      &::before {
        rotate: -90deg;
        left: -39.8px;
        top: 0px;
      }
      &::after {
        right: -39.8px;
        top: 0px;
        rotate: 180deg;
      }
    }
  }
  &_para {
    width: 80%;
    padding: v.$padd;
    &_handler {
      width: 80%;
      div {
        margin: 1em 0;
      }
      h2 {
        font-size: 3rem;
        margin: 0;
        span {
          font-weight: 900;
          color: v.$red;
          text-transform: v.$upper;
          font-family: v.$halv;
        }
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        span {
          font-weight: 600;
        }
      }
    }
  }
  &_cards {
    width: 80%;
    display: v.$g;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
    &_each {
      grid-column: span 2;
      height: 200px;
      background-image: url("/assets/about/bg-cards.webp");
      background-size: v.$cv;
      background-position: v.$c;
      border-radius: 20px;
      @include v.flexCenter();
      position: v.$re;
      h3 {
        font-size: 4rem;
        margin: 0;
        color: v.$text-color;
      }
      h4 {
        position: v.$ab;
        color: v.$dark;
        bottom: -11%;
        left: 0;
        border-radius: 20px;
        background-color: v.$bg-light;
        width: 60%;
        height: 40px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        @include v.flexCenter();
        &::after,
        &::before {
          content: "";
          position: v.$ab;
          width: 30px;
          height: 30px;
          border-bottom-right-radius: 20px;
          box-shadow: 7px 7px 0 v.$bg-light;
          rotate: 90deg;
        }
        &::before {
          bottom: 0px;
          right: -30px;
        }
        &::after {
          left: 0px;
          top: -30px;
        }
        span {
          position: v.$re;
          z-index: 9;
        }
      }
    }
  }
  &_mission {
    width: 80%;
    @include v.flexCenter();
    align-items: flex-start;
    &_each {
      width: v.$fw;
      min-height: 100px;
      background-color: v.$dark;
      border-radius: 20px;
      margin: 1em 0;
      margin-top: 0;
      position: v.$re;
      &_title {
        @include v.flexCenter();
        position: v.$ab;
        background-color: v.$bg-light;
        width: 200px;
        height: 50px;
        top: 0;
        left: 0;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        &::after,
        &::before {
          content: "";
          position: v.$ab;
          width: 30px;
          height: 30px;
          box-shadow: 7px 7px 0 v.$bg-light;
          border-bottom-right-radius: 20px;
          rotate: 180deg;
        }
        &::before {
          left: 0px;
          bottom: -30px;
        }
        &::after {
          right: -30px;
          top: 0px;
        }
      }
      &_para {
        width: 80%;
        position: v.$re;
        left: 20%;
        p {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.8;
          color: v.$text-color;
          padding: 1em;
        }
      }
    }

    h2 {
      margin-top: 0;
      color: v.$dark;
    }
  }
}

@media only screen and (max-width: 800px) {
  ._heroAbout {
    &_title {
      h1 {
        font-size: 3rem;
      }
    }
    &_para {
      width: 90%;
      &_handler {
        width: v.$fw;
      }
    }
    &_cards {
      width: 90%;
      &_each {
        grid-column: span 8;
      }
    }
    &_mission {
      width: 90%;
      &_each {
        &_title {
          top: 0;
          left: 0;
          border-radius: 20px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          &::after,
          &::before {
            content: "";
            position: v.$ab;
            width: 30px;
            height: 30px;
            box-shadow: 7px 7px 0 v.$bg-light;
            border-bottom-right-radius: 20px;
            rotate: 180deg;
          }
          &::before {
            left: 0px;
            bottom: -30px;
          }
          &::after {
            right: -30px;
            top: 0px;
          }
        }
        &_para {
          width: 90%;
          left: 0%;
          bottom: -25px;
        }
      }
      h2 {
        margin-top: 0;
        color: v.$dark;
      }
    }
  }
}
