@use "vars" as v;
._heroAssist {
  width: v.$fw;
  min-height: v.$vh;
  @include v.flexCenter();
  justify-content: flex-start;
  overflow: v.$h;
  &_title {
    h1 {
      font-size: 8rem;
      font-weight: v.$b;
      margin: 0;
      color: v.$dark;
      text-align: v.$c;
    }
  }
  &_bg {
    background-image: url("/assets/about/bg.webp");
    background-size: v.$cv;
    background-attachment: fixed;
    background-position: v.$c;
    min-height: 400px;
    width: v.$fw;
    position: v.$re;
    &_miniPara {
      background-color: v.$bg-light;
      position: v.$ab;
      top: 0;
      left: 25%;
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 50%;
      p {
        font-weight: 600;
        text-transform: v.$upper;
        text-align: v.$c;
      }
      &::after,
      &::before {
        content: "";
        position: v.$ab;
        width: 40px;
        height: 40px;
        box-shadow: 6px 6px 0 v.$bg-light;
        border-bottom-right-radius: 20px;
      }
      &::before {
        rotate: -90deg;
        left: -39.8px;
        top: 0px;
      }
      &::after {
        right: -39.8px;
        top: 0px;
        rotate: 180deg;
      }
    }
  }
  &_child {
    margin-top: 2em;
    width: 90%;
    display: v.$g;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
    &_each {
      grid-column: span 3;
      min-height: 200px;
      background-color: v.$wt;
      border-radius: 20px;
      margin: 1em 0;
      position: v.$re;
      @include v.flexCenter();
      &:last-child {
        ul {
          li {
            &:last-child {
              a {
                border: 0.12em solid v.$dark;
                width: 200px;
                height: 50px;
                @include v.flexCenter(v.$r, v.$c);
                border-radius: 100px;
                font-weight: 600;
                background-color: v.$dark;
                color: v.$text-color;
                padding: 0.2em 0.5em;
                font-size: 0.8rem;
                span {
                  margin-right: 0.5em;
                  position: v.$re;
                  top: 5px;
                }
              }
            }
          }
        }
      }
      &_title {
        @include v.flexCenter();
        position: v.$ab;
        background-color: v.$bg-light;
        width: 85%;
        height: 50px;
        top: 0;
        left: 0;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        h2 {
          font-size: 1.2rem;
          margin: 0;
          position: v.$re;
          z-index: 1;
        }
        &::after,
        &::before {
          content: "";
          position: v.$ab;
          width: 30px;
          height: 30px;
          box-shadow: 7px 7px 0 v.$bg-light;
          border-bottom-right-radius: 20px;
          rotate: 180deg;
        }
        &::before {
          left: 0px;
          bottom: -30px;
        }
        &::after {
          right: -30px;
          top: 0px;
        }
      }
      &_depInfo {
        @include v.flexCenter();
        position: v.$re;
        top: 20px;
        ul {
          padding: 0;
          @include v.flexCenter();
          li {
            font-weight: 600;
            line-height: 2;
            i {
              position: v.$re;
              top: 10px;
              margin-right: .7em;
            }
            &:last-child {
              margin-top: 1em;
              a {
                border: 0.12em solid v.$dark;
                width: 200px;
                height: 50px;
                @include v.flexCenter(v.$r, v.$c);
                border-radius: 100px;
                font-weight: 600;
                background-color: v.$dark;
                color: v.$text-color;
                padding: 0.2em 0.5em;
                font-size: 0.8rem;
                span {
                  margin-right: 0.5em;
                  position: v.$re;
                  top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  ._heroAssist {
    &_title {
      h1 {
        font-size: 3rem;
      }
    }
    &_child {
      width: 90%;
      &_each {
        grid-column: span 6;
        &_para {
          width: 90%;
          left: 0%;
          bottom: -25px;
        }
      }
      h2 {
        margin-top: 0;
        color: v.$dark;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  ._heroAssist {
    &_child {
      width: 95%;
      &_each {
        grid-column: span 12 !important;
      }
    }
  }
}
